html, body {
    height: 99%;
}
body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
        height: 100%;
	min-width:1000px;    	/* Minimum width of layout */
        min-height:768px;
        max-width:1920px;
	font-size:100%;
    background-color: #303030;
}
h1, h2, h3 {
    text-align: center;
	margin:.09em 0 .2em 0;
    font-family: 'Open Sans', sans-serif;
	color: #E91E63;
}
h4 {
    text-align: center;
	margin:.09em 0 .2em 0;
    font-family: 'Open Sans', sans-serif;
	color: #fff;
        font-size: 70%;
        opacity: .7;
}

h3 {
    font-size: 18px;
}
p, ul {
	margin:.1em 0 .2em 0;
    font-family: 'Open Sans', sans-serif;
	color: #fff;
	opacity: .7;
}

/* Header styles */
#header {
	clear:both;
	width:100%;
        padding-bottom: 20px;
        float: left;
}

/* Footer styles */
#footer {
	float:left;
	width:100%;
    height: 47px;
    color: #DFDFDF;
    background-color:#212121;
    font-family: 'Open Sans', sans-serif;
    line-height: normal;
    font-size: 90%;
    display:inline;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
}
#footer img {
    vertical-align: middle;
}
#footer p {
    vertical-align: middle;
    margin-top: 10px;
    text-align: left;
}

/* Link colors and styling */
	a{text-decoration:none;
        cursor: pointer;}
	div#footer a:link  {color: #DFDFDF; }
	div#footer a:visited { color: #DFDFDF; }
	div#footer a:hover { color: #E91E63; }
	div#footer a:active { color: #E91E63; }
/* End link colors */

.wrapper {
	min-height: 100%;
	margin: 0 auto -92px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 49px; /* .push must be the same height as .footer */
}


/* Jazzing up the search field and button */
#search, #content_navigation, #gameboynavigationDiv,
#gameboycolornavigationDiv, #nintendo64navigationDiv, 
#nintendonavigationDiv, #playstationnavigationDiv,
#genesisnavigationDiv {
    text-align: center;
    padding-top: 15px;
}

#searchGames {
    line-height: 30px;
    margin-right: 5px;
	color: #fff;
	opacity: .7;
}

input[list] {
    padding-left: 5px;
	border-radius: 3px;
	background-color: #303030;
    border: none;
}
input[type=text] {
    width: 50%;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
	border-radius: 3px;
	background-color: #303030;
    border: none;
	color: #fff;
	opacity: .7;
}

ul {
	padding-top: 15px;
}


#welcomeContent, #streetsOfRage2Content, #sonic2Content,
#apeEscapeContent, #finalFantasyVIIContent, #megaMan2Content
#superMarioBros2Content, #superMario64Content, #ocarinaOfTimeContent,
#marioTennisContent, #pokemonSilverContent, #linksAwakeningContent,
#pokemonRedContent p {
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 5px;
}

#platformsDiv, #streetsofrage2Div, #sonic2Div, #genesisDiv,
#finalfantasyviiDiv, #apeescapeDiv, #playstationDiv,
#supermario64Div, #ocarinaoftimeDiv, #nintendo64Div,
#supermariobros2Div, #megaman2Div, #nintendoDiv,
#mariotennisDiv, #pokemonsilverDiv, #gameboycolorDiv,
#linksawakeningDiv, #pokemonredDiv, #gameboyDiv {
	margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#content {
    float:left;
    width:65%;
    margin-left: 1%;
    margin-bottom: 1%;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
        max-height: 600px;
}

#sidebar {
    float:left;
    width:32%;
    /* border-top: 2px solid #00e6b8;
    border-bottom: 2px solid #00bfff;
    border-left: 2px solid #00bfff;
    border-right: 2px solid #00e6b8; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#424242;
    /* background:rgba(255,255,255,0.6); */
    margin-left: 1%;
    margin-right: 1%;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	border-radius: 2px;
	padding-left: .5%;
    padding-right: .5%;
    padding-bottom: .5%;
    padding-top: .5%;
}

#sidebar h3, form {
    margin-top: 10px;
}

#description {
    clear:both;
    width:65%;
    /* border-top: 2px solid #00e6b8;
    border-bottom: 2px solid #00bfff;
    border-left: 2px solid #00bfff;
    border-right: 2px solid #00e6b8; */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#424242;
    margin-left: 1%;
    padding-left: .5%;
    padding-right: .5%;
    padding-bottom: .5%;
    padding-top: .5%;
    text-align: center;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	border-radius: 2px;
}

#welcome {
    clear:both;
    width:60%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#424242;
    margin-left: 20%;
    margin-right: 20%;
    padding-left: .5%;
    padding-right: .5%;
    padding-bottom: 1%;
    padding-top: .5%;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
}

#description p {
    max-height: 300px;
    overflow-x: hidden;
    font-size: 90%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: left;
}

a{text-decoration:none;
        cursor: pointer;}
	div#sidebar a:link  {color: #fff; }
	div#sidebar a:visited { color: #fff; }
	div#sidebar a:hover { color: #fff; opacity: .7;}
	div#sidebar a:active { color: #fff; opacity: .7;}

[class^="hvr-"] {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  padding: 6px 15px 6px 15px;
  cursor: pointer;
  color: #fff;
  /* Prevent highlight colour when element is tapped */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}


/* Fluid video wrapper */
#videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */

}
#videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
        max-height: 600px;
        border: 0;
        
}
/* End video wrapper */

/* Modal Stuff */
.modal {
    z-index:3;
    display:none;
    padding-top:50px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}
.modal-content {
    margin:auto;
    background-color:#424242;
    position:relative;
    outline:0;
    width:600px;
    color: #000;
    padding: 10px 20px 10px 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
        float: inherit;
        clear: both;
        -webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	border-radius: 2px;
}
.closebtn {
    text-decoration:none;
    float:right;
    font-size:24px;
    font-weight:bold;
    color:inherit;
    margin: 0 0 10px 10px;
}
.closebtn:hover,.closebtn:focus {
    color:#000;
    text-decoration:none;
    cursor:pointer;
}

.modal-container:after {
    display:table;
    clear:both;
    padding:0.01em 16px;
}

#site-modals {
    display: block;
    padding-top: 12px;
    padding-left: 4px;
}

/* Submit Form */
#submit-area {
	width: 600px;
}

#submit-area input, #submit-area textarea {
	width: 590px;
	font-family: 'Open Sans', sans-serif;
	margin: 5px 0px 10px 0px;
	border: 2px solid #ccc;
	border-radius: 3px;
	background-color: #303030;
    border: none;
	color: #fff;
	opacity: .7;
	padding-left: 10px;
	line-height: 30px;
}


#submit-area textarea {
	height: 120px;
}

#submit-area h1 {
    text-align: left;
}


#submit-area input.submit-button {
	width: 100px;
	float: right;
	background-color: #3f51b5;
	opacity: 1;
	height: 30px;
}
#submit-area p {
    font-size: 90%;
}
#submit-area h3 {
    color: #3f51b5;
}

#center-table {
    width: 600px;
    max-height: 700px;
        overflow-x: hidden;
}
/* Edit Form */
#edit-area {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        
}

#edit-area td {
    font-size: 80%;
}

#edit-area textarea {
	height: 90px;
}

#edit-area h1 {
    text-align: left;
}


#edit-area input.submit-button {
	width: 100px;
	float: right;
	background-color: #3f51b5;
	opacity: 1;
	height: 30px;
}
#edit-area p {
    font-size: 90%;
}

/* End Submit / Edit Forms */

mark {
    background-color: #3f51b5;
    color: #fff;
}

label {
	float: left;
	margin-right: 15px;
	width: 100px;
	font-size: 18px;
	color: #fff;
        font-family: 'Open Sans', sans-serif;
}

#bold {
    font-weight: bold;
}
#bold2 {
    font-weight: bold;
}

.modal-content-about {
    margin:auto;
    background-color:#424242;
    position:relative;
    outline:0;
    width:400px;
    color: #000;
    padding: 10px 20px 10px 20px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/** Placeholder Text **/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'Open Sans', sans-serif;
  padding-left: 5px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: 'Open Sans', sans-serif;
  padding-left: 5px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: 'Open Sans', sans-serif;
  padding-left: 5px;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: 'Open Sans', sans-serif;
  padding-left: 5px;
}

#platformsDiv, #nintendoDiv, #gameboyDiv, 
#gameboycolorDiv, #nintendo64Div, 
#playstationDiv, #genesisDiv, #titlesDiv {
    padding-top: 5px;
}

#sidebar h3 {
	background-color: #212121;
	color: #fff;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
}

#description h3 {
	background-color: #212121;
	color: #fff;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
}

#welcome h3 {
	background-color: #212121;
	color: #fff;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.45);
}

#welcome p, ul {
    font-size: 90%;
    padding-left: 10%;
    padding-right: 10%;
    
}

#define {
    font-weight: bold;
    font-size: 110%;
}

/* Icons & Buttons */

/* Icon Spin */
.hvr-icon-spin {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  background-color: #E91E63;
  border-radius: 3px;
}
.hvr-icon-spin:before {
  content: "\f021";
  position: absolute;
  right: 1em;
  padding: 2px 1px;
  font-family: FontAwesome;
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #E91E63;
  border-radius: 3px;
}
.hvr-icon-spin:hover:before, .hvr-icon-spin:focus:before, .hvr-icon-spin:active:before {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  background-color: #E91E63;
  border-radius: 3px;
}

/* Icon Back */
.hvr-icon-back {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-left: 2.2em;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  background-color: #3f51b5;
  border-radius: 3px;
}
.hvr-icon-back:before {
  content: "\f137";
  position: absolute;
  left: 1em;
  padding: 2px 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background-color: #3f51b5;
  border-radius: 3px;
}
.hvr-icon-back:hover:before, .hvr-icon-back:focus:before, .hvr-icon-back:active:before {
  -webkit-transform: translateX(-4px);
  transform: translateX(-4px);
  background-color: #3f51b5;
  border-radius: 3px;
}

/* Icon Grow */
.hvr-icon-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #3f51b5;
  border-radius: 3px;
  border: 0px;
}
.hvr-icon-grow:before {
  content: "\f040";
  position: absolute;
  right: 1em;
  padding: 2px 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background-color: #3f51b5;
  border-radius: 3px;
  border: 0px;
}
.hvr-icon-grow:hover:before, .hvr-icon-grow:focus:before, .hvr-icon-grow:active:before {
  -webkit-transform: scale(1.3) translateZ(0);
  transform: scale(1.3) translateZ(0);
  background-color: #3f51b5;
  border-radius: 3px;
  border: 0px;
}

/* Icon Rotate */
.hvr-icon-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #3f51b5;
  border-radius: 3px;
}
.hvr-icon-rotate:before {
  content: "\f11b";
  position: absolute;
  right: 1em;
  padding: 2px 0px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background-color: #3f51b5;
  border-radius: 3px;
}
.hvr-icon-rotate:hover:before, .hvr-icon-rotate:focus:before, .hvr-icon-rotate:active:before {
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
  background-color: #3f51b5;
  border-radius: 3px;
}

/* Icon Bounce */
.hvr-icon-bounce {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
        display: table;
   margin: 0 auto
}
.hvr-icon-bounce:before {
  content: "\f11b";
  position: absolute;
  right: 1em;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
}
.hvr-icon-bounce:hover:before, .hvr-icon-bounce:focus:before, .hvr-icon-bounce:active:before {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
        margin-left: .5%;
}

/* Icon Pulse Grow */

@keyframes hvr-icon-pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

.hvr-icon-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
        border: 0;
}
.hvr-icon-pulse-grow:before {
  content: "\f00c";
  position: absolute;
  right: .7em;
  padding: 1px 2px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
        border: 0;
}
.hvr-icon-pulse-grow:hover:before, .hvr-icon-pulse-grow:focus:before, .hvr-icon-pulse-grow:active:before {
  -webkit-animation-name: hvr-icon-pulse-grow;
  animation-name: hvr-icon-pulse-grow;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
        border: 0;
}

/* Icon Buzz Out */

@keyframes hvr-icon-buzz-out {
  10% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  20% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  30% {
    -webkit-transform: translateX(3px) rotate(2deg);
    transform: translateX(3px) rotate(2deg);
  }

  40% {
    -webkit-transform: translateX(-3px) rotate(-2deg);
    transform: translateX(-3px) rotate(-2deg);
  }

  50% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  60% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  70% {
    -webkit-transform: translateX(2px) rotate(1deg);
    transform: translateX(2px) rotate(1deg);
  }

  80% {
    -webkit-transform: translateX(-2px) rotate(-1deg);
    transform: translateX(-2px) rotate(-1deg);
  }

  90% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.hvr-icon-buzz-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
        border: 0;
}
.hvr-icon-buzz-out:before {
  content: "\f014";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
        border: 0;
}
.hvr-icon-buzz-out:hover:before, .hvr-icon-buzz-out:focus:before, .hvr-icon-buzz-out:active:before {
  -webkit-animation-name: hvr-icon-buzz-out;
  animation-name: hvr-icon-buzz-out;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  background-color: #E91E63;
	color: #fff;
	border-radius: 3px;
        border: 0;
}